<div class="container">
    <div class="row">
        <div class="col-md-offset-2 col-md-10">

            <h1>Kundvagn</h1>

            <table class="table table-bordered">
                <thead>
                <tr >
                    <th>Produkt</th>
                    <th>Bild</th>
                    <th>Pris</th><br>
                    <th>Beskrivning</th>
                    <th>I lager</th>
                </tr>
                </thead>

                <tbody ng-controller="cartController" ng-init="productsInCart.total={}">
                <tr ng-repeat="product in productsCart track by $index">
                    <td>{{ product.name }}</td>
                    <td><img src="{{ product.imageUrl }}"></td>
                    <td ng-init="productsInCart.total.price = productsInCart.total.price + product.price">{{ product.price }} kr</td>
                    <td id="prodesc">{{ product.description }}</td>
                    <td ng-if="product.unitsInStock > 0">{{ product.unitsInStock }} st</td>
                    <td class="text-danger" ng-if="product.unitsInStock <= 0">Varan är slut i lager</td>

                </tr>
                <tr id="tot">
                    <td> </td>
                    <td ><h4>Totalt pris:</h4></td>
                    <td id=totalp"><h4>{{productsInCart.total.price}} kr</h4></td>
                    <td> </td>
                    <td> </td>
                </tr>

                </tbody>

            </table>
            <a id="orderButton" class="btn btn-success btn-lg" role="button"><span class="glyphicon glyphicon-ok"></span> Beställ</a><br><br>



        </div>
    </div>
</div>