td img {
    width: 150px;
    height: 175px;
}

#homeButton {
    color: #46b8da;
}

#ngview {
    margin-top: 100px;
}

#prodesc {
    width: 350px;
}

ul.dropdown-cart{
    min-width:250px;
}
ul.dropdown-cart li .item {
    display: block;
    padding:3px 10px;
    margin: 3px 0;
}
#srch-term{
    margin-left: 50px;
}

#loginButton {
     margin-left: 50px;
     width: 120px;

 }

#cartIMG {
    width: 25px;
    height: 25px;
}

#totalp {
    width: 100px;
    background-color: #46b8da;
}
#tot {
    background-color: #46b8da;
}

#iLager {
    width: 75px;
}

#prisTD {
     width: 75px;
 }

#wrap {
    margin-bottom: 150px;
}

#welc {
    margin-right: 50px;
}